modules = ["python-3.11"]
[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "BCI Web Scraper"

[[workflows.workflow]]
name = "BCI Web Scraper"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "gunicorn main:app --bind 0.0.0.0:5000 --timeout 1800 --workers 1 --keep-alive 75"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80
